*

!.gitignore
!README.md

!server/
!server/**
!server/avx/simde
!server/avx/simde/**

!client/
!client/**

!.github/
!.github/**

!gifs/
!gifs/**

!lib/
!lib/**

client/tetrisClient
server/tetris-logs 
